<!-- TODO: design a navbar which will be common to all the pages -->
<link rel="stylesheet" href="css/home_styles.css">
<nav id="navbar">
    <ul class="list">
        <div>
            <li>
                <a href="">
                    <img src="images\Bookly (1).png" alt="logo">
                </a>
            </li>
        </div>
        <div>
        <li class="list-item">Community</li>
        <li class="list-item">Courses</li>
        <li class="list-item">Notes</li>
        <li class="list-item">Projects</li>
        <li class="list-item">Papers</li>
        </div>
        
    </ul>
</nav>